button {
    width: 80%;
    height: 80%;
    font-size: 4em !important;
    border-radius: 50%;
    transform: translate(10px, 10px);
}

.red{
    background-color: #eb445a;
}

.yellow{
    background-color: #ffc409;
}